<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Créer une task</title>
</head>

<body>
    <h1>Créer une tâche :</h1>
    <form action="/post_create/" method="post">
        {% csrf_token %}
        Nom:
        <input type="text" name="name">
        Résumé
        <textarea rows="5" cols="40" name="resume"></textarea>
        <input type="submit" value="Envoyer">
    </form>
</body>

</html>