<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Liste des taĉhes</title>
</head>

<body>
    <h1>Liste des tâches :</h1>
    {% csrf_token %}

    <br>

    {% for datas in data %}
    <p>Clé de la tâche : {{ datas.key }}</p>
    <p>Nom : {{ datas.nom }}</p>
    <p>Résumé : {{ datas.resume }} </p>
    <br>
    {% endfor %}
    
</body>
</html>