<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    {% csrf_token %}
    Welcome {{e}}
    <br/>
    
    <button type="button" onclick="location.href='{% url 'create' %}'">Créer tâches</button>
    <button type="button" onclick="location.href='{% url 'liste' %}'">Consulter liste de tâches</button>
</body>

</html>